<footer class="footer">
  <div class="footer-inner">
    {{#link 'help_center'}}
      © 2020 Customer Thermometer Ltd - THE customer satisfaction survey
    {{/link}}

    <ul class="footer-menu">
      <li>
        <a href="https://www.customerthermometer.com/system-status/">System Status</a>
      </li>
      <li>
        <a href="https://www.customerthermometer.com/privacy-policy/">Privacy Policy</a>
      </li>
      <li>
        <a href="https://www.customerthermometer.com/terms-of-use/">Terms of use</a>
      </li>
    </ul>

    {{!-- <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{current_locale.name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </button>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div> --}}
  </div>
</footer>

<script type="text/javascript">
  window.zESettings = {
    webWidget: {
      // Color API - All Sites
      color: {
        theme: "#702fa0",
        launcher: "#702fa0", // This will also update the badge
        launcherText: "#FFFFFF",
        button: "#702fa0",
        buttonText: "#702fa0",
        resultLists: "#702fa0",
        header: "#702fa0",
        articleLinks: "#4bb7b2",
      },
      // Contact Form API */
      contactForm: {
        suppress: false,
        title: {
          "*": "Raise a ticket",
        },
        subject: false,
        attachments: true,
      },
      // Chat API - All Sites
      chat: {
        suppress: false,
        title: {
          "*": "Ask Us Anything",
        },
        departments: {
          enabled: ["Technical Support"],
          select: "Technical Support",
        },
        concierge: {
          avatarPath: 'https://cdn.customerthermometer.com/zendesk/widget/ct-logo.png',
          name: 'Customer Thermometer',
          title: {'*':'Ministry of Magic'}
        },
        profileCard: {
          avatar: true,
          rating: true,
          title: true,
        },
        hideWhenOffline: true,
        prechatForm: {
          greeting: {
            "*":
              "To ensure our representatives can help you as quickly as we can.\n\nPlease provide as much information as you can about your query in the message area below.\n",
          },
          departmentLabel: {
            "*": "Select a department",
          },
        },
        offlineForm: {
          greeting: {
            "*": "We aren't online right now, please leave a message",
          },
        },
      },
      // Helpcenter API - All Sites
      helpCenter: {
        suppress: false,
        title: {
          "*": "Search for help",
        },
        searchPlaceholder: {
          "*": "Search our User Guide",
        },
      },
      // Answerbot API
      answerBot: {
        suppress: false,
        title: {
          "*": "Chat with us!",
        },
        contactOnlyAfterQuery: true,
        avatar: {
          url:
            "https://cdn.customerthermometer.com/zendesk/widget/256.png",
          name: {
            "*": "Customer Thermometer",
          },
        },
      },
      // Launcher API - All Sites
      launcher: {
        label: {
          "*": "Get help?",
        },
        chatLabel: {
          "*": "Chat online",
        },
        talkLabel: {
          "*": "Ask for a callback"
        },
        mobile: {
          labelVisible: true,
        },
      },
      // Contact options - All Sites
      contactOptions: {
        enabled: true,
        title: {
          "*": "Contact Us",
        },
        contactButton: {
          "*": "Get in touch",
        },
        chatLabelOnline: {
          "*": "Chat online",
        },
        chatLabelOffline: {
          "*": "Chat is unavailable",
        },
        contactFormLabel: {
          "*": "Raise a ticket",
        },
      },
    },
  };

  const articleAccordHeader = document.getElementById('articleAccordHeader');
  const articleAccordBody = document.getElementById('articleAccordBody');

  articleAccordHeader.addEventListener('click', () => {
      articleAccordHeader.classList.toggle('article-accord-header-open');
      articleAccordBody.classList.toggle('article-accord-body-open');
  });
</script>
